.new_mission
  div
    margin-top: 5px
    background-color: #14242b
    width: 300px
    display: block
    margin-left: auto
    margin-right: auto
    border: 2px solid #000000
    padding-bottom: 5px
    
    
  .datetime_picker
    border: 0px solid #000000
    width: auto
    color: #EEEEEE
    div
      margin-top: 0px
      background-color: #14242b
      width: auto
      display: block
      margin-left: auto
      margin-right: auto
      padding-bottom: 0px
      border: 0px solid #000000