!!! 5
%html{"ng-app" => "EUTWSpecOpsMissionPlanner"}
  %head
    %base{'href' => root_url}
    %title EUTW Spec Ops Misson Planner
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}
    %meta{'charset' => 'utf-8'}
    = stylesheet_link_tag "application", media: "all"
    = include_gon
    = javascript_include_tag "application"
    = csrf_meta_tags
    
  %body{"ng-controller" => "EUTWSpecOpsMissionPlannerController"}
    .error
      %p{"ng-if" => "error"} Error: {{error}}
    .page_content(ng-view)